.section_one {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

/* .section_two {
  margin-top: 2rem auto;
} */

/* 
 * iPhone 6/7/8 plus
 */
@media only screen and (max-width: 414px) {
  .section_one {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
