.header {
  background-position: center;
  background-size: cover;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 33%;
  height: 100%;
  padding: 5rem 5rem 3rem;
  color: #f2f0ee;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
  display: block;
  border-radius: 50%;
}

.social_links {
  display: flex;
  justify-content: space-around;
  margin-top: 9rem;
}

/* 
 * iPad Pro
 */
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .social_links {
    margin: 7rem auto 2rem auto;
  }
}

/* 
 * iPhone 6/7/8 plus
 */
@media only screen and (max-width: 414px) {
  .header {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem 3rem;
  }

  .avatar {
    width: 160px;
    height: 160px;
  }

  .social_links {
    margin: 2rem auto 1rem auto;
  }
}
