.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.75rem;
  text-align: center;
}

.buttons > a {
  text-decoration: none;
  height: 2.75rem;
  padding: 0.4rem 1rem;
  border-radius: 0.35rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.live_button {
  background-color: #fff;
  color: #8c8aff;
  border: 1px solid #e0e0e0;
}
.source_button {
  background-color: #8c8aff;
  color: #fff;
}

/* 
 * iPhone 6/7/8/ plus
 */
@media only screen and (max-width: 414px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .source_button,
  .live_button {
    width: 65%;
    margin-top: 1rem;
  }
}

/* 
 * iPhone 6/7/8/ plus
 */
@media only screen and (max-width: 320px) {
  .source_button,
  .live_button {
    width: 80%;
    margin-top: 1rem;
  }
}
